{{define "index"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="System info and duplicate finder" />
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com" defer></script>
    <script src="https://unpkg.com/htmx.org@2.0.2"
        integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ" crossorigin="anonymous">
        </script>
    <style>
        .htmx-indicator {
            display: none;
            transition: display 500ms ease-in;
        }

        .htmx-request .htmx-indicator {
            display: inline;
        }

        .htmx-request.htmx-indicator {
            display: inline;
        }
    </style>
    <title>Duplicate Finder</title>
</head>

<body>
    <button class="btn btn-active btn-accent" hx-get="/info" hx-swap="outerHTML" hx-indicator="#spinner">Get System-Info
        {{template "loadingg"}}</button>

</body>

</html>
{{end}}

{{block "loadingg" . }}
<span class="htmx-indicator loading loading-infinity loading-lg" id="spinner"></span>
{{end}}

{{block "sysinfo" .}}
<div id="sysinfo" class="border border-blue-500 p-5 m-2">
    <p>Machine Name: {{.HostName}}</p>
    <p>OS: {{.OS}}</p>
    <p>CPU Architecture: {{.CPUArch}}</p>
    {{template "Info" .}}
</div>
<div hx-get="/current" hx-swap="innerHTML" hx-trigger="every 3s"></div>
{{end}}


{{ block "usages" . }}
<div class="border border-blue-500 p-5 m-2">
    <p>CPU: {{.CPU.Value}} {{.CPU.UOM}}</p>
    <p>RAM: {{.RAM.Value}} {{.RAM.UOM}}</p>
    <p>GPU: {{.GPU.Value}} {{.GPU.UOM}}</p>
</div>
{{ end }}

{{ block "Info" . }}
<div>
    <div class="p-3 border-2 border-dotted rounded">
        <p>Model Name: {{.CPU.ModelName}}</p>
        <p>Model Identifier: {{.CPU.ModelIdentifier}}</p>
        <p>Processor Name: {{.CPU.ProcessorName}}</p>
        <p>Processor Speed: {{.CPU.ProcessorSpeed}} Mhz</p>
        <p>Number of Cores: {{.CPU.Cores}}</p>
    </div>
    <div class="p-3 border-2 border-dotted m-2 rounded">
        <p>Total Memory: {{.Mem.Total}} GB</p>
    </div>
    <div class="flex flex-row">
        {{range .Disks}}
        <div class="p-3 border-2 border-dotted m-2 rounded">
            <p>Device : {{.Device}}</p>
            <p>MountPoint : {{.Mount}}</p>
            <p>FsType : {{.FsType}}</p>
            <div class="m-2">
                <p>Total Space: {{.Usage.Total}} </p>
                <p>Used Space: {{.Usage.Used}} </p>
                <p>Free Space: {{.Usage.Free}} </p>
                <p>Used Percent: {{.Usage.UsedPercent}} %</p>
            </div>

            <button hx-get="/dupFinder?device={{.Mount}}" class="btn btn-accent">Check Duplicates</button>
        </div>
        {{end}}
    </div>
</div>
{{ end }}

{{ block "duplicates" . }}
    <div class="overflow-x-auto flex gap-5">
        {{ range $hash, $files := . }}
        <table class="table" id={{ $hash }}>
            <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Path</th>
                <th>Hash</th>
            </tr>
            </thead>
            <tbody>
                {{ range $files }}
                    <tr class="hover">
                        <th>{{ .ID }}</th>
                        <th>{{ .Name }}</th>
                        <td>{{ .Path }}</td>
                        <td>{{ .hash }}</td>
                    </tr>
                {{ end }}
            </tbody>
        </table>
        {{ end }}
    </div>
{{ end }}